body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-inverse {
  	box-shadow: 0 0 26px rgba(0,0,0,0.7);	
	background-color: #d80027; 
	height: 80px; 
	width: 100%;
}

.nav-title {
	position: relative;
	right: 125px;
	top: 4px;
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 55px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.login-container {
	height: 100%;
	margin-top: 15%;
/*    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 10% 0;
    align-items: center;
*/}

.login-title {
	position: relative;
	top: 50%;
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 65px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.user-pic {
	height: 35px;
	width: auto;
	margin-right: 10px;
}
.lock-pic {
	height: 35px;
	width: auto;
	margin-right: 10px;
}
.username {
/*	float:left;
	font-family: 'Pattaya', sans-serif;
	font-size: 25px;
	color: white;
	margin: 30px;
*/}
.username-display {
	float:left;
	font-family: 'Pattaya', sans-serif;
	font-size: 25px;
	color: white;
	margin: 30px;

}
.user-name-input {
	margin-top: 20px;
	border-radius: 20px;
	height: 35px;
	width: 170px;
	font-family: 'Pattaya', sans-serif;
	font-size: 15px;
}
.pw-input {
	border-radius: 20px;
	height: 35px;
	width: 170px;	
	font-family: 'Pattaya', sans-serif;
	font-size: 15px;
}
.login-btn {
	margin-left: 10px;
	height: 43px;
	width: auto;	
}	
.signup-btn {
	margin-left: 10px;	
	height: 43px;
	width: auto;	
}
.settings-btn {
	margin-left: 10px;	
	height: 43px;
	width: auto;		
}
.login-btn:hover {
	position: relative;
	top:3px;
}	
.signup-btn:hover {
	position: relative;
	top:3px;
}
.settings-btn:hover {
	position: relative;
	top:3px;
}
.login-btn:active {
	position: relative;
	top: 4px;	
}	
.signup-btn:active {
	position: relative;
	top: 4px;	
}
.settings-btn:active {
	position: relative;
	top: 4px;	
}

#score-board {
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 40px;
}
.answer-box {
	background-color: white;
	height: 60px;
	width: 300px;
	text-align: center;
	border-radius: 30px;
	font-weight: bold;
	font-size: 30px;
}
.answer-box:hover {
	position: relative;
	top: 3px;
}
#a{

}
#b {
	position: relative;
	margin-top:90px;
}
#c{
	position: relative;	
	float: right;
}
#d {
	position: relative;
	margin-top:90px;
	float: right;
}
#chord-ex {
	height: 400px;
}
#timer {
    width: 800px;
    height: 20px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    right: 180px;
    background-color: white;
    animation-name: timer;
    animation-duration: 5s;
}
@keyframes timer {
    100% {width: 0px;}
}

#game-canvas {
	margin-top: 10px;
}
text {
	margin-top: 10px;
}

.game-container {
}
html, body {margin: 0; height: 100%; overflow: hidden}

.but {
  position: relative;
  margin-right: 15px;
  bottom: 50px;
  right: 30px;
  float: right;
  cursor: pointer;
  height: 30px; 
 }
.cal-btn {
  height: 34px;	
}
.code-btn {
  height: 40px;	
  width: 37px;	
  bottom: 52px;
}
.delete-btn {
  bottom: 46px;	
}
.Collapsible {
}
.monCal {
	font-weight: bold;
}
.to-do-list {
  background-color: white;	
  width: 200px;	
  height: 400px;
  font-size: 10px;
  border-radius: 5px;
}
.cal {
  font-family: 'Viga', sans-serif;
  font-size: 20px;	
  background-color: #ededed;
  color: #444;
  cursor: pointer;
  padding: 9px;
  width: 200px;
  text-align: left;
  border: 1px;
  outline: none;
  transition: 0.4s;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.logout-btn {
	height: 40px;
	position: fixed;
	bottom: 15px;
  	cursor: pointer;
}
.cal:hover {
    filter: brightness(1.2);
    color: black;
}
.item {
	background-color: blue;
	height: 100px;
	width: 300px;
}

.task-input {
  position: relative;
  left: 6px;
  top: 5px;
  font-size: 12px;
  width: 55%;
  padding: 5px 15px;

}
.task-add {
  position: relative;
  top: 4px;
  left: 6px; 
  height:31px;
}
.delete {
	position: relative;
	top: 1px;
	margin-left: 5px;
	color: #d80027;
}
.list {
	font-size: 14px;
}

@media screen and (max-width:1600px)
{
	body {
		zoom:80%;
	}

}
@media screen and (max-width:1100px)
{
	body {
		zoom:70%;
	}

}

	/*iphoneX*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
	.calendars {
	  position: relative;
	  top: 25px;
	  right: 35px;
	  margin: auto;
	  width: 70%;
	}
	.cal {
		width: 110%;
	}
	.task-input {
		position: relative;
		top: 7px;
		font-size: 12px;
		width: 70%;
		padding: 12px 20px;
	}
	.task-add {
		position: relative;
		top: 5px;
		height: 45px;
	}	
	.logout-btn {
		position: relative;
		right: 5px;
		top: 80px;
	}
	.to-do-list {
		width: 100%;
	}
	.username-display {
		display: none;
	}
	.but {
		position: relative;
		top: 30px;
		right: 125px;
	}
	.nav-title {
		position: relative;
		right: 5px;
	}
 }

	/*Ipad sideways*/

/*@media only screen 
    and (device-width : 1024px) 
    and (device-height : 768px) {  
	.calendars {
	  position: relative;
	  left: 40px;
	  width: 80%;
	}
	.cal {
		width: 110%;
	}
	.task-input {
		position: relative;
		top: 7px;
		font-size: 12px;
		width: 90%;
		padding: 12px 20px;
	}
	.task-add {
		position: relative;
		top: 5px;
		height: 45px;
	}
	.to-do-list {
		width: 100%;
	}
	.logout-btn {
		position: relative;
		right: 5px;
		top: 80px;
	}
	.username-display {
		display: ;
	}
	.but {
		position: relative;
		right: 10px;
	}
	.nav-title {
		position: relative;
		right: 140px;
	}
  }*/

	/*Ipad upright*/
/*@media only screen 
    and (device-width : 768px) 
    and (device-height : 1024px) {  
	.calendars {
	  position: relative;
	  left: 30px;
	  width: 80%;
	}
	.cal {
		width: 110%;
	}
	.task-input {
		position: relative;
		top: 7px;
		font-size: 12px;
		width: 90%;
		padding: 12px 20px;
	}
	.task-add {
		position: relative;
		top: 5px;
		height: 45px;
	}
	.to-do-list {
		width: 100%;
	}
	.logout-btn {
		position: relative;
		right: 5px;
		top: 80px;
	}
	.username-display {
		position: relative;
		top: 10px;
		font-size: 17px;
	}
	.but {
		position: relative;
		bottom: 35px;
		right: 0px;
		height: 20px;
	}
	.code-btn {
		height: 30px;
	}
	.nav-title {
		position: relative;
		right: 110px;
	}
  }
*/